$background-white: #f9f9f9;
$black: #484848;
$white: rgba(255,255,255,0.85);

html {
  -webkit-font-smoothing: subpixel-antialiased;
}

.hide {
  display: none;
}

body {
  margin: 0;
  color: $black;
  background: $background-white;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 14px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

#wrap-inner {
  padding: 30px 30px 40px 30px;
  min-height: 500px;
}

a:link, a:visited {
  color: #3a8bbb;
  text-decoration: none;
}
