.shot-detail {
  position: absolute;
  z-index: 9997;
  top: 20px;
  left: 50%;
  width: 920px;
  margin-left: -460px;
  padding: 40px 95px;
  background: #f4f4f4;
  background-position: fixed;
  box-sizing: border-box;
  border-radius: 6px;
}
