.top-toolbar {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  background: rgba(255,255,255,0.6);
  min-height: 50px;

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.shot-menu {
  > ul {
    margin: 0 auto;
    text-align: center;
    &:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
    > li {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .sub {
    position: absolute;
    width: 200px;
    margin: -5px 0 0 -20px;
    padding: 6px 0 10px 0;
    font-size: 13px;
    background: #fbfbfb;
    border-radius: 6px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    z-index: 999;
    li {
      text-align: left;
    }
    a {
      color: #999;
      display: block;
      height: auto;
      padding: 5px 20px;
      &:hover {
        color: #444;
        background-color: #eee;
        opacity: 1;
      }
    }
  }

  .selected-menu {
    display: inline-block;
    line-height: 50px;
    padding-right: 23px;
    @include bg('icon-down-arrow.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 500;
    color: #444;
  }
}
